[submodule "panda"]
	path = panda
	url = ../../commaai/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../killinen/opendbc.git
	branch = shane_0813
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../sshane/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
